* {
    box-sizing: border-box;
    font-family: Arial, "Times New Roman", "Courier New";
    font-size: 1.1em;
}

body{
    background-color: #00a884;
}

.wrapper {
    border-radius: 10px;
    border: 1px solid #00a884;
    width: 20rem;
    padding: 1em;
    text-align: center;
    background-color: white;
}

select {
    width: 40%;
    margin-bottom: 0.5rem;
}

select option {

    padding: 5px;
}

input {
    margin-top: 0.5rem;
    width: 100%;
}

textarea {
    margin-top: 0.5rem;
    width: 100%;
}

button {
    margin-top: 0.5rem;
    appearance: none;
    background-color: #00a884;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
}